---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "PrimeFlix";
const buttonText = "Nuevo Video";
const backgroundColor = "#272727";
const color = "#FFF";
const dir = "/newVideo/";
---

<BaseLayout
  pageTitle={pageTitle}
  buttonActive={true}
  buttonText={buttonText}
  backgroundColor={backgroundColor}
  color={color}
  dir={dir}
>
  <h1></h1>
  <script></script>
</BaseLayout>
