---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/normalize.css";
const { pageTitle } = Astro.props;
const { buttonActive } = Astro.props;
const { buttonText } = Astro.props;
const { backgroundColor } = Astro.props;
const { color } = Astro.props;
const { dir } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/P.PNG" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header
      buttonActive={buttonActive}
      buttonText={buttonText}
      backgroundColor={backgroundColor}
      color={color}
      dir={dir}
    />
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style>
  body {
    display: grid;
    background-color: #21233d;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
</style>
